<!-- hexlet_django_blog/templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>{% block title %}Django на Хекслете{% endblock %}</title>
</head>
<body>
<div id="sidebar">
    {% block sidebar %}
    <table>
        <tr>
            <td><a href="/">Главная</a></td>
            <td><a href="/article/">Статьи</a></td>
            <td><a href="/about/">About</a></td>
        </tr>
    </table>
    {% endblock %}
</div>
<div id="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>
